.body {
	color: #212121;
}

.title-block {
	height: 200px;
	position: relative;
}

.title-block-pattern {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	
}

.title-block-pattern-img {
	position: absolute;
	height: 200px;
	width: 100%;
	background-color: #2196F3;
}

.logo {
	padding: 10px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.title-block-container {
	position:relative;
}

.title-block-content {
	padding: 10px;
	position: absolute;
	left: 200px;
	top: 20px;
	width: 350px;
	color: white;
}

.title-block-nav {
	position:absolute;
	top:200px;
}

.navbar {
	margin-bottom: 0px;
}

.limited-height > div {
	height: 360px;
}

.limited-height img {
	max-height: 275px;
}

.card {
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(34, 25, 25, 0.4);
}

.card-img {
	background-color: #F5F5F5;
}

.card-text {
	padding: 5px;
	font-size: 16px;
}

.contact-block {
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #F3FAFF;
}

.title-block-side {
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 200px;
	text-align: right;
}

.title-block-side > div {
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

.title-slanted-background {
	position: absolute;
	min-width: 380px;
	width: 45%;
	height: 200px;
	z-index: -1;
	right: -60px;
	transform: skewX(-15deg);
}

/*.title-slanted-image {
	background-image: url("../images/wood_pattern.png");
	background-repeat: repeat;
}*/

.title-slanted-overlay {
	background-color: #1976D2;
	opacity: 1.0;
	border-left: 3px white solid;
}

a:link, a:visited {
	color: #0c83e4;
}

a:hover {
    color: #2ea1ff;
    text-decoration: none;
}

.alt-style-link:link, .alt-style-link:visited {
	color: #8BC34A;
}

.alt-style-link:hover {
    color: #a1cf6e;
    text-decoration: none;
}

.nav-custom > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


.nav-custom > li > a:link, 
.nav-custom > li > a:visited,
.nav-custom > li > a:hover {
	color: white;
}

.nav-custom > li > a:hover,
.nav-custom > li > a:focus {
	background-color: #8BC34A;
}


.nav-custom > li.dropdown.open > a {
	background-color: #8BC34A;
}

.card a:hover {
	background-color: #F5F5F5;
	display:block;
}

.page-description {
	padding: 10px;
	font-size:16px;
}